<!---
<ion-view view-title="Quotes">
  <ion-content>
      
    <div>
<ul class="list card">
    <li class = "item"><h2>"Quotes"</h2></li>
<li class = "item"><p>"An investment in knowledge pays the best interest." - Benjamin Franklin</p></li>
 
<li class = "item"><p>"Bottoms in the investment world don't end with four-year lows; they end with 10- or 15-year lows." - Jim Rogers</p></li>
 
<li class = "item"><p>"I will tell you how to become rich. Close the doors. Be fearful when others are greedy. Be greedy when others are fearful." - Warren Buffett</p></li>
 
<li class = "item"><p>"The stock market is filled with individuals who know the price of everything, but the value of nothing." - Phillip Fisher
</p></li>
 
<li class = "item"><p>"In investing, what is comfortable is rarely profitable." - Robert Arnott</p></li>
</ul>
</div>
        
  </ion-content>
</ion-view>

--->
